<style type="text/css">
body {
background-image: url("binaryBG.gif")
}
h1 {
color: #0000FF;
font-family: "Comic Sans MS";
text-align: center
}
span.menuPanel {
position: absolute;
left: 1%;
width: 15%;
background-color: #D5942B;
font-family: "HeliosBlack"

}
span.item {
position: absolute;
left: 17%;
width: 70%;
background-color: #CCCCFF
}
</style>