<h3>Main Menu</h3>
<ul>
<li><a href = "simpleCMS.php?content=default.html">
main</a>
</li>
<li><a href = "simpleCMS.php?content=classes.html">
classes</a>
</li>
<li><a href = "simpleCMS.php?content=links.html">
links</a>
</li>
<li><a href = "simpleCMS.php?content= software.html">
software</a>
</li>
<li><a href = "simpleCMS.php?content=media.html">
media</a>
</li>
</ul>